<div class="login-container">
    <div class="login-box">
      <form (ngSubmit)="onLogin($event)">
        <div class="form-group">
            <input type="text" placeholder="Username" [(ngModel)]="username" name="username" required />
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" name="password" [(ngModel)] ="password" required/>
        </div>
        <button type="submit" class="login-button">Login</button>
      </form>
    </div>
  </div>
