<header>
  <div class="top-bar">
    <div class="logo-and-menu">
      <button class="menu-button">
        <span>&#9776;</span>
      </button>
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Search here...">
    </div>
    <div class="user-icon">
      <img src="assets/avatar.jpeg" alt="User Icon">
    </div>
  </div>
</header>

<div class="main-layout">
  <div class="sidebar">
    <div class="stealthify-logo">
      <img src="assets/logo.png" alt="Logo" class="logo">
      <span class="brand-name">Stealthify</span>
    </div>
    <ul>
      <li [ngClass]="{'active': isActive('/homepage') }"><a [routerLink]="['/homepage']">Dashboard</a></li>
      <li [ngClass]="{'active': isActive('/activity') }"><a [routerLink]="['/activity']">Activity</a></li>
      <li [ngClass]="{'active': isActive('/privileges') }"><a [routerLink]="['/privileges']">Privileges</a></li>
      <li [ngClass]="{'active': isActive('/settings') }"><a [routerLink]="['/settings']">Settings</a></li>
      <li><a href="/documentation">Documentation</a></li>
      <li><a href="/support">Support</a></li>
    </ul>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet> <!-- This is where the main content will be rendered -->
  </div>
</div>
